{% extends "adminHeader.html" %}
{% block title %}{{ team.team_name }}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/crop/rcrop.min.css" />
<style type="text/css">
img {
  max-width: 100%;
}
.team-logo{
	max-width:300px;
}
</style>
{% endblock %}
{% block main %}

<div class="container">
	<form action="/admin/team/save-details/" method="POST" enctype="multipart/form-data">
<h3>PLAYERS</h3>
    <div class="table-responsive">
     <table class="table table-stripped">
      <thead>
       <tr>
         <th style="width:20px"></th>
         <th>PLAYER NAME</th>
         <th>POSITION</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>1</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_0" value="{{ players[0].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_0" value="{{ players[0].player_position}}" ></td>
       </tr>
       <tr>
         <td>2</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_1" value="{{ players[1].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_1" value="{{ players[1].player_position}}" ></td>
       </tr>
       <tr>
         <td>3</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_2" value="{{ players[2].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_2" value="{{ players[2].player_position}}" ></td>  
       </tr>
       <tr>
         <td>4</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_3" value="{{ players[3].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_3" value="{{ players[3].player_position}}" ></td>  
       </tr>
       <tr>
         <td>5</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_4" value="{{ players[4].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_4" value="{{ players[4].player_position}}" ></td>
       </tr>
       <tr>
         <td>6</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_5" value="{{ players[5].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_5" value="{{ players[5].player_position}}" ></td>
       </tr>
       <tr>
         <td>7</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_6" value="{{ players[6].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_6" value="{{ players[6].player_position}}" ></td>
       </tr>
       <tr>
         <td>8</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_7" value="{{ players[7].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_7" value="{{ players[7].player_position}}" ></td>
       </tr>
       <tr>
         <td>9</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_8" value="{{ players[8].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_8" value="{{ players[8].player_position}}" ></td>  
       </tr>
       <tr>
         <td>10</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_9" value="{{ players[9].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_9" value="{{ players[9].player_position}}" ></td>  
       </tr>
       <tr>
         <td>11</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_10" value="{{ players[10].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_10" value="{{ players[10].player_position}}" ></td>  
       </tr>
       <tr>
         <td>12</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_11" value="{{ players[11].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_11" value="{{ players[11].player_position}}" ></td>  
       </tr>
       <tr>
         <td>13</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_12" value="{{ players[12].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_12" value="{{ players[12].player_position}}" ></td>  
       </tr>
       <tr>
         <td>14</td>
         <td><input type="text" placeholder="PLAYER NAME" class="form-control" name="player_13" value="{{ players[13].player_name}}" ></td>
         <td><input type="text" placeholder="POSITION" class="form-control" name="position_13" value="{{ players[13].player_position}}" ></td>  
       </tr>
      </tbody>
     </table>
    </div>





	<div class="form-group">
		<h3>Logo</h3>
    	<img class="team-logo" src="/images/teams/{{ team.team_logo }}" alt="" id="team">
    	<input type="file" name="logo" accept="image/*">
	</div>
	<div class="form-group">
		<h3>Team Photo</h3>
		<div class="col-5">
		<img class=" " src="/images/teams/{{ team.team_image }}" alt=""/>
		</div>
		<input type="file" name="team_image" accept="image/*">
	</div>
	<input type="hidden" value="{{ team.team_id }}" name="id">
 	<input type="hidden" value="{{ team.team_name }}" name="team_name" >
 	<input type="submit" class="btn btn-success" value="SUBMIT" name="submit">
    </form>
</div>
{% endblock %}
{% block javascripts %}
<script src="/js/crop/rcrop.min.js"></script>
<script type="text/javascript">
</script>
{% endblock %}