{% extends "header.html" %}
{% block title %} {{ title }} {% endblock %}
{% block pagehead %} {{ title }} {% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="/css/brackets.css">
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <!-- QUARTER STARTS -->
        <div id="quarter-finals" class="column">
            <div>
                <img src="/images/teams/Invictus_logo_.jpeg">
                <div class="details">
                    <span>S6 CSE</span>
                    <span></span>
                </div>
            </div>
                <span class="team-divider-1"></span>
            <div>
                <img src="/images/teams/Invictus_logo_.jpeg">
                <div class="details">
                    <span>S6 EEE</span>
                    <span></span>
                </div>
            </div>
                <span class="match-divider-1"></span>
            <div>
                <img src="/images/teams/Invictus_logo_.jpeg">
                <div class="details">
                    <span>S4 ME</span>
                    <span></span>
                </div>
            </div>
                <span class="team-divider-1"></span>
            <div>
                <img src="/images/teams/Invictus_logo_.jpeg">
                <div class="details">
                    <span>S4 EC2</span>
                    <span></span>
                </div>
            </div>
                <span class="match-divider-1"></span>
            <div>
                <img src="/images/teams/Invictus_logo_.jpeg">
                <div class="details">
                    <span>S4 EEE</span>
                    <span></span>
                </div>
            </div>
                <span class="team-divider-1"></span>
            <div>
                <img src="/images/teams/Invictus_logo_.jpeg">
                <div class="details">
                    <span>S2 ME(A)</span>
                    <span></span>
                </div>
            </div>
                <span class="match-divider-1"></span>
            <div>
                <img src="/images/teams/Invictus_logo_.jpeg">
                <div class="details">
                    <span>S6 ME</span>
                    <span></span>
                </div>
            </div>
                <span class="team-divider-1"></span>
            <div>
                <img src="/images/teams/Invictus_logo_.jpeg">
                <div class="details">
                    <span>S6 CE</span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- QUARTER ENDS -->
        <div class="colmn">
            <div class="connector">
                <span class="top-line"></span>
                <span class="vertical-line-top"></span>
                <span class="horizontal-line"></span>
                <span class="vertical-line-bottom"></span>
                <span class="bottom-line"></span>
            </div>
            <span class="connector-divider-1"></span>
            <div class="connector">
                <span class="top-line"></span>
                <span class="vertical-line-top"></span>
                <span class="horizontal-line"></span>
                <span class="vertical-line-bottom"></span>
                <span class="bottom-line"></span>
            </div>
            <span class="connector-divider-1"></span>
            <div class="connector">
                <span class="top-line"></span>
                <span class="vertical-line-top"></span>
                <span class="horizontal-line"></span>
                <span class="vertical-line-bottom"></span>
                <span class="bottom-line"></span>
            </div>
            <span class="connector-divider-1"></span>
            <div class="connector">
                <span class="top-line"></span>
                <span class="vertical-line-top"></span>
                <span class="horizontal-line"></span>
                <span class="vertical-line-bottom"></span>
                <span class="bottom-line"></span>
            </div>
        </div>
        <!-- SEMI STARTS -->
        <div id="semi-finals" class="column">
            <div style="display:flex">
                {#<img src="/images/teams/Invictus_logo_.jpeg">#}
                <div class="details">
                    <span></span>
                    <span></span>
                </div>
            </div>
                <span class="team-divider-2"></span>
            <div  style="display:flex">
               {# <img src="/images/teams/Invictus_logo_.jpeg">#}
                <div class="details">
                    <span></span>
                    <span></span>
                </div>
            </div>
                <span class="match-divider-2"></span>
            <div  style="display:flex">
               {# <img src="/images/teams/Invictus_logo_.jpeg"> #}
                <div class="details">
                    <span></span>
                    <span></span>
                </div>
            </div>
                <span class="team-divider-2"></span>
            <div style="display:flex">
                {# <img src="/images/teams/Invictus_logo_.jpeg"> #}
                <div class="details">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- SEMI ENDS -->
        <div class="colmn">
            <div class="connector">
                <span class="top-line-2"></span>
                <span class="vertical-line-top-2"></span>
                <span class="horizontal-line-2"></span>
                <span class="vertical-line-bottom-2"></span>
                <span class="bottom-line-2"></span>
            </div>
            <span class="connector-divider-2"></span>
            <div class="connector">
                <span class="top-line-2"></span>
                <span class="vertical-line-top-2"></span>
                <span class="horizontal-line-2"></span>
                <span class="vertical-line-bottom-2"></span>
                <span class="bottom-line-2"></span>
            </div>
        </div>
        <!-- FINAL STARTS -->
        <div id="finals" class="column">
            <div style="display:flex">
                {# <img src="">#}
                <div class="details">
                    <span></span>
                    <span></span>
                </div>
            </div>
                <span class="team-divider-3"></span>
            <div style="display:flex">
                    {# <img src="">#}
                <div class="details">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- FINAL ENDS -->
        <div class="colmn">
            <div class="connector">
                <span class="top-line-3"></span>
                <span class="vertical-line-top-3"></span>
                <span class="horizontal-line-3"></span>
                <span class="vertical-line-bottom-3"></span>
                <span class="bottom-line-3"></span>
            </div>
        </div>
        <!-- CHAMP STARTS -->
        <div id="champion" class="column" style="height:100px">
            <div style="box-shadow:none">
            </div>
        </div>
        <!-- CHAMP ENDS -->
    </div>
</div>
{% endblock %}